#nav_sect {
  @include position(sticky, top, left, 0px, 0px);
  background-color: $bg_main;
  box-shadow: 0 0 5px $box_shd_tint;
  z-index: 10;

  .center_sect {
    padding-block: 10px;
    @include flexDisplay(center, space-between);

    .logo_btn {
      display: block;
      padding: 0;
      border-radius: $brd_rad;
      font-size: $txt_size_xlrg;
      font-family: $fnt_logo;
      color: $acc_clr;

      @include mediaQ(max, 950px) {
        font-size: $txt_size9;
      }

      span {
        color: $spc_clr;
        font-family: inherit;
      }
    }

    .navlink_super_wrapper {
      @include flexDisplay(center, space-between);

      .nav_link_wrapper {
        @include mediaQ(max, 950px) {
          display: none;
        }

        .nav_link {
          padding: 10px 20px;
          font-size: $txt_size3;
          border-bottom: 2px solid transparent;
          @include transitionAll($fmid_trans);

          &:not(&.login_btn, &.logout_btn):hover {
            border-color: $spc_clr;
            color: $spc_clr;
          }

          &.active:not(&.login_btn.active, &.logout_btn.active) {
            color: $spc_clr;
            pointer-events: none;
          }

          &.login_btn {
            background-color: $acc_clr;
            color: $txt_clr2;
            border-radius: $brd_rad_small;
            margin-left: 20px;
          }

          &.logout_btn {
            border: 2px solid $acc_clr;
            color: $acc_clr;
            border-radius: $brd_rad_small;
            margin-left: 20px;
          }
        }
      }

      .nav_link.small {
        display: none;
        padding: 10px 20px;
        font-size: $txt_size3;
        border-bottom: 2px solid transparent;
        @include transitionAll($fmid_trans);
        @include mediaQ(max, 950px) {
          display: inline-block;
        }

        &.login_btn {
          background-color: $acc_clr;
          color: $txt_clr2;
          border-radius: $brd_rad_small;
          margin-left: 20px;
        }

        &.logout_btn {
          border: 2px solid $acc_clr;
          color: $acc_clr;
          border-radius: $brd_rad_small;
          margin-left: 20px;
        }
      }

      .menu_btn {
        display: none;

        @include mediaQ(max, 950px) {
          display: inline-block;
          font-size: $txt_size7;
          padding: 5px;
          color: $spc_clr;
          margin-left: 20px;
        }
      }
    }
  }
}
